/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
body{
    background: transparent url('../images/bg_body.jpg') no-repeat top middle;
}
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper {
	margin: 0 auto;
	width: 940px;
}
#wrapper {
    background: #fff;
    margin-top: 20px;
    padding: 0 20px;
    -moz-box-shadow: 0px 0px 5px #656565;
    -webkit-box-shadow: 0px 0px 5px #656565;
    -o-box-shadow: 0px 0px 5px #656565;
    box-shadow: 0px 0px 5px #656565;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
         float: right;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}
